{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'GeckoBackendBundle:Macros:misc.html.twig' import pagination %}
{% from 'AnunciosAnuncioBundle:Backend/Category:macros.html.twig' import list  %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'gecko.backend.breadcrumb.category.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('anuncios_anuncio_backend_category_create'), 'gecko.backend.create'|trans) }}
    </div>
    <h1><i class="icon-sitemap"></i> {{ 'gecko.backend.category.index_header'|trans|raw }}</h1>
</div>

{% render(controller('gecko.backend.controller.form:filterAction', {'type': 'anuncios_category_filter', 'template': 'AnunciosAnuncioBundle:Backend/Category:filterForm.html.twig'})) %}
{{ list(categories)  }}
{{ pagination(categories) }}

{% endblock %}