<h4>Voto popular</h4>
<div class="marchaRanking">
{% set i = 0 %}
{% for usuario in rankingUsuario %}
	{% if usuario != null %}
		{% set i = i + 1 %}
		<p><a href="{{ path('anuncios_anuncio_ranking_usuario', {'id': usuario.category.id}) }}">
			<span class="number">01</span>. 
			{{ usuario.name }} - 
			<span class="categoryName">{{ usuario.category.name }}</span>
		</a></p>
	{% endif %}
{% endfor %}
</div>	

<h4>Voto del jurado</h4>
<div class="marchaRanking">
{% set i = 0 %}
{% for jurado in rankingJurado %}
	{% if jurado != null %}
		{% set i = i + 1 %}
		<p><a href="{{ path('anuncios_anuncio_ranking_jurado', {'id': jurado.category.id}) }}">
			<span class="number">01</span>. 
			{{ jurado.name }} - 
			<span class="categoryName">{{ jurado.category.name }}</span>
		</a></p>
	{% endif %}
{% endfor %}
</div>