{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
<section class="anunciosList clearfix">
	<h2>{{ category.name }}</h2>
	
	<div class="list">
		{% for anuncio in anuncios %}
		<div class="anuncio">
			<p class="sector">{{ anuncio.sector }}</p>
			<a href="{{ path('anuncios_anuncio_show', {'id': anuncio.id}) }}"><img src="{{ anuncio.image }}"></a>
			<p class="name"><a href="{{ path('anuncios_anuncio_show', {'id': anuncio.id}) }}">{{ anuncio.name }}</a></p>
			<p class="subname">{{ anuncio.agency }}</p>
		</div>
		{% endfor %}
	</div>
</div>
<div class="anunciosList clearfix">
<p style="font-size: 20px; color: red">ULTIMOS ANUNCIOS EN {{ category.name|upper }} VOTADOS<p>
	{% for lastAnuncioVoteByCategory in lastAnunciosVoteByCategory %}
	<div class="anuncio">
		<p class="sector">{{ lastAnuncioVoteByCategory.sector }}</p>
		<a href="{{ path('anuncios_anuncio_show', {'id': lastAnuncioVoteByCategory.id}) }}"><img src="{{ lastAnuncioVoteByCategory.image }}"></a>
		<p class="name"><a href="{{ path('anuncios_anuncio_show', {'id': lastAnuncioVoteByCategory.id}) }}">{{ lastAnuncioVoteByCategory.name }}</a></p>
		<p class="subname">{{ lastAnuncioVoteByCategory.agency }}</p>
	</div>
	{% endfor %}
</div>
{% endblock %}
