{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
<section class="anunciosList clearfix">
	<div class="title">
		<img src="{{ category.image?category.image|imagine_filter('anuncios_category_headline'):asset('bundles/anunciosanuncio/images/title_category.jpg') }}">
		<h2>{{ category.name }}</h2>
	</div>
	
	{{ include('AnunciosAnuncioBundle:Frontend/Partial:_googleTag.html.twig') }}
	
	{% if(category.isAnual and not activeCampaign.isAnual) %}
		<p class="message">Esta categoría se votará una sola vez al año. Mientras, disfruta de los trabajos.</p>
	{% elseif(hasVotingByCategory) %}
		<p class="message">Has completado tus votos disponibles para esta categoría.</p>
	{% else %}
		<p class="message">PUEDES VOTAR HASTA TRES ANUNCIOS POR CATEGORÍA EN TODAS LAS SESIONES QUE NECESITES ANTES DEL {{ activeCampaign.dateEnd|localizeddate('long', 'none', null, null, "dd 'de' MMMM") }}.</p>
	{% endif %}
	
	<div class="list clearfix">
		{% for anuncio in anuncios %}
		{% include 'AnunciosAnuncioBundle:Frontend/Partial:_anuncio.html.twig' with {'anuncio': anuncio} %}
		{% endfor %}
	</div>
	
	{% if(lastAnunciosVoteByCategory is not empty) %}
		<h3>Anuncios más votados en {{ category.name }} este mes</h3>
		<div class="list clearfix">
			{% for anuncio in lastAnunciosVoteByCategory %}
			{% include 'AnunciosAnuncioBundle:Frontend/Partial:_anuncio.html.twig' with {'anuncio': anuncio} %}
			{% endfor %}
		</div>
	{% endif %}
</section>
{% endblock %}
