{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
<section class="anunciosList clearfix">
	<div class="title">
		<img src="{{ asset('bundles/anunciosanuncio/images/title_home.jpg') }}">
	</div>
	
	<div class="row">
		<div class="col-md-8">
			<h3>SECCIONES POR VOTAR</h3>
			<div class="list clearfix">
				{% for anuncio in leftAnunciosVoteByUser %}
				{% include 'AnunciosAnuncioBundle:Frontend/Partial:_anuncio.html.twig' with {'anuncio': anuncio} %}
				{% endfor %}
			</div>

	
			<h3>SECCIONES QUE HAS VOTADO</h3>
			<div class="list clearfix">
				{% for anuncio in lastAnunciosVoteByUser %}
				{% include 'AnunciosAnuncioBundle:Frontend/Partial:_anuncio.html.twig' with {'anuncio': anuncio} %}
				{% endfor %}
			</div>
		</div>
		<div class="col-md-4">
			<h3>Marcha de las votaciones</h3>
			
			<h4>Voto popular</h4>
			<div class="marchaRanking">
			{% set i = 0 %}
			{% for usuario in rankingUsuario %}
				{% if usuario != null %}
					{% set i = i + 1 %}
					<p><a href="{{ path('anuncios_anuncio_ranking_usuario', {'id': usuario.category.id}) }}">
						<span class="number">0{{ i }}</span>. 
						{{ usuario.name }} - 
						<span class="categoryName">{{ usuario.category.name }}</span>
					</a></p>
				{% endif %}
			{% endfor %}
			</div>	
	
			<h4>Voto del jurado</h4>
			<div class="marchaRanking">
			{% set i = 0 %}
			{% for jurado in rankingJurado %}
				{% if jurado != null %}
					{% set i = i + 1 %}
					<p><a href="{{ path('anuncios_anuncio_ranking_jurado', {'id': jurado.category.id}) }}">
						<span class="number">0{{ i }}</span>. 
						{{ jurado.name }} - 
						<span class="categoryName">{{ jurado.category.name }}</span>
					</a></p>
				{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
</section>
{% endblock %}
