{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

<section class="anunciosList clearfix">
	<h2>ANUNCIOS POR VOTAR</h2>
	
	<div class="list">
		{% for leftAnuncioVoteByUser in leftAnunciosVoteByUser %}
		<div class="anuncio">
			<p class="sector">{{ leftAnuncioVoteByUser.sector }}</p>
			<a href="{{ path('anuncios_anuncio_show', {'id': leftAnuncioVoteByUser.id}) }}"><img src="{{ leftAnuncioVoteByUser.image }}"></a>
			<p class="name"><a href="{{ path('anuncios_anuncio_show', {'id': leftAnuncioVoteByUser.id}) }}">{{ leftAnuncioVoteByUser.name }}</a></p>
			<p class="subname">{{ leftAnuncioVoteByUser.agency }}</p>
		</div>
		{% endfor %}
	</div>
	
	<h2>ULTIMOS ANUNCIOS VOTADOS</h2>
	
	<div class="list">
		{% for lastVoting in lastVotings %}
		<div class="anuncio">
			<p class="sector">{{ lastVoting.anuncio.sector }}</p>
			<a href="{{ path('anuncios_anuncio_show', {'id': lastVoting.anuncio.id}) }}"><img src="{{ asset('bundles/anunciosanuncio/images/anuncio.jpg') }}"></a>
			<p class="name"><a href="{{ path('anuncios_anuncio_show', {'id': lastVoting.anuncio.id}) }}">{{ lastVoting.anuncio.name }}</a></p>
			<p class="subname">{{ lastVoting.anuncio.agency }}</p>
		</div>
		{% endfor %}
	</div>
	
	<h2>RANKING DE VOTANTES</h2>
	
	{% set i = 0 %}
	{% for usuario in rankingUsuario %}
		{% set i = i + 1 %}
		<p><a href="{{ path('anuncios_anuncio_show', {'id': usuario.id}) }}">0{{ i }}. {{ usuario.name }} - {{ usuario.agency }}</a></p>
	{% endfor %}
	
	<h2>RANKING DE JURADO</h2>

	{% set i = 0 %}
	{% for jurado in rankingJurado %}
		{% set i = i + 1 %}
		<p><a href="{{ path('anuncios_anuncio_show', {'id': jurado.id}) }}">0{{ i }}. {{ jurado.name }} - {{ jurado.agency }}</a></p>
	{% endfor %}
{% endblock %}