{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
<section class="anunciosList clearfix">
	<h2>SECCIONES POR VOTAR</h2>
	
	<div class="list">
		{% for leftAnuncioVoteByUser in leftAnunciosVoteByUser %}
		<div class="anuncio">
			<p class="sector">{{ leftAnuncioVoteByUser.sector }}</p>
			<a href="{{ path('anuncios_anuncio_show', {'id': leftAnuncioVoteByUser.id}) }}"><img src="{{ leftAnuncioVoteByUser.image }}"></a>
			<p class="name"><a href="{{ path('anuncios_anuncio_show', {'id': leftAnuncioVoteByUser.id}) }}">{{ leftAnuncioVoteByUser.name }}</a></p>
			<p class="subname">{{ leftAnuncioVoteByUser.agency }}</p>
		</div>
		{% endfor %}
	</div>

	
	<h2>SECCIONES QUE HAS VOTADO</h2>
	
	<div class="list">
		{% for lastAnuncioVoteByUser in lastAnunciosVoteByUser %}
		<div class="anuncio">
			<p class="sector">{{ lastAnuncioVoteByUser.sector }}</p>
			<a href="{{ path('anuncios_anuncio_show', {'id': lastAnuncioVoteByUser.id}) }}"><img src="{{ lastAnuncioVoteByUser.image }}"></a>
			<p class="name"><a href="{{ path('anuncios_anuncio_show', {'id': lastAnuncioVoteByUser.id}) }}">{{ lastAnuncioVoteByUser.name }}</a></p>
			<p class="subname">{{ lastAnuncioVoteByUser.agency }}</p>
		</div>
		{% endfor %}
	</div>
	
	
	<h2>RANKING DE VOTANTES</h2>
	
	{% set i = 0 %}
	{% for usuario in rankingUsuario %}
		{% if usuario != null %}
			{% set i = i + 1 %}
			<p><a href="{{ path('anuncios_anuncio_ranking_usuario', {'id': usuario.category.id}) }}">0{{ i }}. {{ usuario.name }} - {{ usuario.category.name }}</a></p>
		{% endif %}
	{% endfor %}
	
	
	<h2>RANKING DE JURADO</h2>

	{% set i = 0 %}
	{% for jurado in rankingJurado %}
		{% if jurado != null %}
			{% set i = i + 1 %}
			<p><a href="{{ path('anuncios_anuncio_ranking_jurado', {'id': jurado.category.id}) }}">0{{ i }}. {{ jurado.name }} - {{ jurado.category.name }}</a></p>
		{% endif %}
	{% endfor %}
{% endblock %}
