{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="anunciosList clearfix">
<p style="font-size: 20px; color: red">ANUNCIOS POR VOTAR<p>
	{% for leftAnuncioVoteByUser in leftAnunciosVoteByUser %}
	<div class="anuncio">
		<p class="sector">{{ leftAnuncioVoteByUser.sector }}</p>
		<a href="{{ path('anuncios_anuncio_show', {'id': leftAnuncioVoteByUser.id}) }}"><img src="{{ leftAnuncioVoteByUser.image }}"></a>
		<p class="name"><a href="{{ path('anuncios_anuncio_show', {'id': leftAnuncioVoteByUser.id}) }}">{{ leftAnuncioVoteByUser.name }}</a></p>
		<p class="subname">{{ leftAnuncioVoteByUser.agency }}</p>
	</div>
	{% endfor %}
</div>
<div class="anunciosList clearfix">
<p style="font-size: 20px; color: red">ULTIMOS ANUNCIOS VOTADOS<p>
	{% for lastAnuncioVote in lastAnunciosVote %}
	<div class="anuncio">
		<p class="sector">{{ lastAnuncioVote.sector }}</p>
		<a href="{{ path('anuncios_anuncio_show', {'id': lastAnuncioVote.id}) }}"><img src="{{ lastAnuncioVote.image }}"></a>
		<p class="name"><a href="{{ path('anuncios_anuncio_show', {'id': lastAnuncioVote.id}) }}">{{ lastAnuncioVote.name }}</a></p>
		<p class="subname">{{ lastAnuncioVote.agency }}</p>
	</div>
	{% endfor %}
</div>
<div>
<p style="font-size: 20px; color: red">RANKING DE VOTANTES</p>
	{% set i = 0 %}
	{% for usuario in rankingUsuario %}
		{% set i = i + 1 %}
		<p><a href="{{ path('anuncios_anuncio_show', {'id': usuario.id}) }}">0{{ i }}. {{ usuario.name }} - {{ usuario.agency }}</a></p>
	{% endfor %}
</div>
<div>
<p style="font-size: 20px; color: red">RANKING DE JURADO</p>
	{% set i = 0 %}
	{% for jurado in rankingJurado %}
		{% set i = i + 1 %}
		<p><a href="{{ path('anuncios_anuncio_show', {'id': jurado.id}) }}">0{{ i }}. {{ jurado.name }} - {{ jurado.agency }}</a></p>
	{% endfor %}
</div>
{% endblock %}