{# NO SE USA, TRATAR DE USAR EL MISMO QUE EL USUARIO
% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
<section class="anunciosList clearfix">
<h2>RANKING {{ category.name|upper }}</h2>
	
{% set i = 0 %}
{% for jurado in rankingJurado %}
	{% set i = i + 1 %}
	<p><a href="{{ path('anuncios_anuncio_show', {'id': jurado.id}) }}">0{{ i }}. {{ jurado.name }} - {{ jurado.agency }}</a></p>
{% endfor %}
{% endblock %#}
