{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
<section class="anuncioShow">
	{{ include('AnunciosAnuncioBundle:Frontend/Partial:_googleTag.html.twig') }}
	
	<h2>{{ anuncio.name }}</h2>
	<p class="subname">{{ category.name }}</p>
	
	<div class="details row">
		<div class="col-md-7">
			<div class="picture">
				<img src="{{ anuncio.image }}" />
				<div class="overlay"></div>
				<div class="overlayContent{{ (category.getIsAnual)?' oneLine':'' }}">
					<div class="actions clearfix">
						{% if resources|length > 0 %}
						<a href="#" class="viewResourcesButton">{{ (category.name|lower == "radio")?"Pieza":"Ver Pieza" }}</a>
						{% endif %}
						
						{% if(externalResource) %}
						<a href="{{ (externalResource.link[:4] == 'http')?externalResource.link:'http://'~externalResource.link }}" class="viewResourceExternalButton" target="blank">Ver Pieza Externa</a>
						{% endif %}
						
						{% if anuncio.campaign.id == activeCampaign.id %}
						{%   if(category.getIsAnual == false or activeCampaign.isAnual) %}
							{% if(hasVoting) %}
								<a href="{{ path('anuncios_anuncio_desvote', {'id': anuncio.id}) }}" class="votedButton">Anular Voto</a>
							{% else %}
								{% if(hasVotingByCategory) %}
									<a href="#" class="voteButton" onclick="alert('Has llegado al limite de votos para esta categoria.');return false;">Votar</a>
								{% else %}
									<a href="{{ path('anuncios_anuncio_vote', {'id': anuncio.id}) }}" class="voteButton">Votar</a>
								{% endif %}
							{% endif %}
						{%   endif %}
						{% endif %}
					</div>
					{% if((category.getIsAnual == false and not activeCampaign.isAnual) and app.user) %}
					<div class="info">
						<!-- <p>Ranking: 0</p> -->
						<p>Votos: {{ app.user.isJurado?anuncio.votoJurado:anuncio.votoUsuario }}</p>
					</div>
					{% endif %}		
				</div>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1 attributes">
			<p><span>Agencia:</span> {{ anuncio.agency }}</p>
			<p><span>Anunciante:</span> {{ anuncio.advertiser }}</p>
			<p><span>Producto:</span> {{ anuncio.product }}</p>
			<p><span>Marca:</span> {{ anuncio.brand }}</p>
			{% if(anuncio.sector) %}
			<p><span>Sector:</span> {{ anuncio.sector.name }}</p>
			{% endif %}
			{% for key, value in anuncio.otherFields %}
			<p><span>{{ key|raw }}:</span> {{ value|raw }}</p>
			{% endfor %}
		</div>
		
		<script type="text/javascript">
			var resourcesItems = [
			{% for resource in resources %}
            	{
                   title: '{{ resource.name }}',
                   {% if(resource.getType == 'Audio MP3') %}
                   href: '{{ path('anuncios_anuncio_show_resource', {'resourceLink': resource.link|raw|url_encode}) }}',
                   {% else %}
                   href: '{{ resource.link|raw }}',
                   thumbnail: '{{ resource.link|raw }}',
                   {% endif %}
                   type: '{{ resource.getResourceType }}'
                },
            {% endfor %}
            ];
		</script>
	</div>
</section>
{% endblock %}
