{% extends 'AnunciosAnuncioBundle:Frontend:layout.html.twig' %}

{% block content %}
<section class="anuncioShow">
	<h2>{{ anuncio.name }}</h2>
	<p class="subname">{{ category.name }}</p>
	
	<div class="details row">
		<div class="col-md-7">
			<div class="picture">
				<img src="{{ anuncio.image }}" />
				<div class="overlay"></div>
				<div class="overlayContent">
					<div class="actions clearfix">
						<a 
							{% if(externalResource) %}
								href="http://{{ externalResource.link }}" class="viewResourceExternalButton" target="blank"
							{% else %}
								href="#" class="viewResourcesButton"
							{% endif %}
						 	>Ver Pieza
						</a>
						{% if(category.getIsAnual == false) %}
							{% if(hasVoting) %}
								<a href="{{ path('anuncios_anuncio_desvote', {'id': anuncio.id}) }}" class="votedButton">Anular Voto</a>
							{% else %}
								{% if(hasVotingByCategory) %}
									<a href="#" class="voteButton" onclick="alert('Has llegado al limite de votos para esta categoria.');return false;">Votar</a>
								{% else %}
									<a href="{{ path('anuncios_anuncio_vote', {'id': anuncio.id}) }}" class="voteButton">Votar</a>
								{% endif %}
							{% endif %}
						{% endif %}
					</div>
					{% if(category.getIsAnual == false) %}
					<div class="info">
						<!-- <p>Ranking: 0</p> -->
						<p>Votos: {{ anuncio.votoJurado+anuncio.votoUsuario }}</p>
					</div>
					{% endif %}				
				</div>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-1 attributes">
			<p><span>Agencia:</span> {{ anuncio.agency }}</p>
			<p><span>Anunciante:</span> {{ anuncio.advertiser }}</p>
			<p><span>Producto:</span> {{ anuncio.product }}</p>
			<p><span>Marca:</span> {{ anuncio.brand }}</p>
			{% if(anuncio.sector) %}
			<p><span>Sector:</span> {{ anuncio.sector.name }}</p>
			{% endif %}
			{% for key, value in anuncio.otherFields %}
			<p><span>{{ key|raw }}:</span> {{ value|raw }}</p>
			{% endfor %}
		</div>
		
		<script type="text/javascript">
			var resourcesItems = [
			{% for resource in resources %}
            	{
                   title: '{{ resource.name }}',
                   href: '{{ resource.link|raw }}',
                   type: '{{ resource.getResourceType }}',
                   thumbnail: '{{ resource.link|raw }}'
                },
            {% endfor %}
            ];
		</script>
	</div>
</section>
{% endblock %}
