{% extends 'AnunciosAnuncioBundle:Frontend:layoutPortada.html.twig' %}

{% block title %}Próximamente nueva votación - Premios Anuncios.com{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<h1 class="title">
			{% if lastCampaignClosed.isAnual %}
			<span>Los ganadores de Los Anuncios del Año se conocerán en la Gala de Entrega de Premios.</span>
			{% else %}
			<span class="big">Los Anuncios del año 2015.</span><br><span> Pronto, nueva votación.</span>
			{% endif %}
		</h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<form action="#" method="post" class="disabled">
			{% if lastCampaignClosed.showFinalist %}
			<a href="http://www.anuncios.com/premios/{{ lastCampaignClosed.year }}/seleccionados" target="_blank" class="buttonLine viewFinalist">Ver finalistas</a>
			{% else %}
			<button type="submit" name="send"></button>
			{% endif %}
		</form>
	</div>
</div>
{% if lastCampaignClosed.showFinalist %}
<!-- Modal finalistas -->
<div class="modal fade" id="finalistModal" tabindex="-1" role="dialog" aria-labelledby="finalistModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Finalistas de {{ lastCampaignClosed.getPeriodName }}</h4>
      		</div>
      		<div class="modal-body">
				<table class="table table-bordered table-hover">
      				<tr>
      					<th>CATEGORÍA</th>
      					<th>FINALISTA DE VOTOS DE JURADOS</th>
      					<th>FINALISTA DE VOTOS DE USUARIOS</th>
      				</tr>
      				{% for categoryFinalist in categoryFinalists %}
      				<tr>
      					<th>{{ (categoryFinalist.category)?categoryFinalist.category.name:'-' }}</th>
      					<td>{{ (categoryFinalist.finalistJurado)?categoryFinalist.finalistJurado.name:'-' }}</td>
      					<td>{{ (categoryFinalist.finalistUsuario)?categoryFinalist.finalistUsuario.name:'-' }}</td>
      				</tr>
      				{% endfor %}
      			</table>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      		</div>
    	</div>
  	</div>
</div>
{% endif %}
{% endblock %}