{% macro list(anuncios) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'GeckoBackendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'GeckoBackendBundle:Macros:misc.html.twig' as misc %}

{% if anuncios|length > 0 %}
<table id="users" class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'gecko.backend.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'gecko.backend.name'|trans) }}</th>
            <th>{{ sylius_resource_sort('anuncioId', 'Anuncio ID'|trans) }}</th>
            <th>{{ sylius_resource_sort('image', 'Imagen'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for anuncio in anuncios %}
        <tr id="{{ anuncio.id }}">
            <td>{{ anuncio.id }}</td>
            <td>{{ anuncio.name }}</td>
            <td>{{ anuncio.anuncioId }}</td>
            {% if anuncio.hasFile %}
                 <img src="{{ anuncio.image|imagine_filter('gecko_image_90x60') }}" />
            {% endif %}
            <td>
                <div class="pull-right">
                    {{ buttons.edit(path('anuncios_anuncio_backend_anuncio_update', {'id': anuncio.id})) }}
                    {{ buttons.delete(path('anuncios_anuncio_backend_anuncio_delete', {'id': anuncio.id})) }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('gecko.backend.no_results'|trans) }}
{% endif %}

{% endmacro %}