{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'GeckoBackendBundle:Macros:misc.html.twig' import pagination %}
{% from 'AnunciosAnuncioBundle:Backend/User:macros.html.twig' import list  %}

{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'gecko.backend.breadcrumb.user.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('anuncios_anuncio_backend_user_create'), 'gecko.backend.create'|trans) }} 
    </div>
    <h1><i class="icon-user"></i> {{ 'gecko.backend.user.index_header'|trans|raw }}</h1>
</div>

{% render(controller('gecko.backend.controller.form:filterAction', {'type': 'anuncios_user_filter', 'template': 'AnunciosAnuncioBundle:Backend/User:filterForm.html.twig'})) %}

{{ list(users)  }}
{{ pagination(users) }}

{% endblock %}