<div class="anuncio">
	<p class="sector">{{ anuncio.category.name }}</p>
	<a href="{{ path('anuncios_anuncio_show', {'anuncio_id': anuncio.id, 'slug': anuncio.category.slug}) }}" class="imageWrapper">
		<span class="flag{{ app.user.isAnuncioVoted(anuncio.id)?' voted':'' }}"></span>
		<img src="{{ anuncio.image }}">
	</a>
	<p class="name"><a href="{{ path('anuncios_anuncio_show', {'anuncio_id': anuncio.id, 'slug': anuncio.category.slug}) }}">{{ anuncio.name }}</a></p>
	<p class="subname">{{ anuncio.agency }}</p>
</div>