<div class="anuncio">
	<p class="sector"><a href="{{ path('anuncios_anuncio_category', {'id': anuncio.category.id, 'slug': anuncio.category.slug}) }}">{{ anuncio.category.name }}</a></p>
	<a href="{{ path('anuncios_anuncio_show', {'anuncio_id': anuncio.id, 'slug': anuncio.category.slug}) }}" class="imageWrapper">
		{% if(anuncio.category.getIsAnual == false) %}
			<span class="flag{{ app.user.isAnuncioVoted(anuncio.id)?' voted':'' }}"></span>
		{% endif %}
		<img src="{{ anuncio.image }}">
	</a>
	<p class="name"><a href="{{ path('anuncios_anuncio_show', {'anuncio_id': anuncio.id, 'slug': anuncio.category.slug}) }}">{{ anuncio.name }}</a></p>
	<p class="subname">{{ anuncio.agency }}</p>
</div>