{% extends 'GeckoBackendBundle::layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1><i class="icon-dashboard"></i> {{ 'gecko.backend.dashboard.header'|trans }} <small>{{ 'gecko.backend.dashboard.subheader'|trans }}</small></h1>
</div>

{% if campaign != null %}
{% if(closed) %}
<h3>Ultima campaña cerrada: <a href="{{ path('anuncios_anuncio_backend_campaign_update', {'id': campaign.id}) }}">{{ campaign.name }}</a></h3>
<h4>Finalistas:</h4>
{% else %}
<h3>Campaña en curso: <a href="{{ path('anuncios_anuncio_backend_campaign_update', {'id': campaign.id}) }}">{{ campaign.name }}</a></h3>
<h4>Marcha de las votaciones:</h4>
{% endif %}
<div class="row">
	<div class="col-md-6">
		<h4>Voto popular</h4>
		<div class="marchaRanking">
		{% for usuario in rankingUsuario %}
			{% if usuario != null %}
				<p><span class="categoryName">{{ usuario.category.name }}</span> - 
					{{ usuario.name }} 
				</p>
			{% endif %}
		{% endfor %}
		</div>
	</div>	
	<div class="col-md-6">
		<h4>Voto del jurado</h4>
		<div class="marchaRanking">
		{% for jurado in rankingJurado %}
			{% if jurado != null %}
				<p><span class="categoryName">{{ jurado.category.name }}</span> - 
					{{ jurado.name }}
				</p>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>
{% else %}
<h3>Proximamente se abrira una nueva votacion</h3>
{% endif %}

<br><br><br>
{% if votesPerMonth|length > 0 %}
{% set hasVotesCurrentCampaign = false %}
<h4>Evolución de votos del año {{ currentYear }}</h4>
<table class="table">
  <tr>
    <th>Campaña</th>
    <th>Cantidad de votos</th>
  </tr>
  {% for month,votes in votesPerMonth %}
  {% set hasVotesCurrentCampaign = (month == campaign.periodName)?true:false  %}
  <tr>
    <td>{{ month }}</td>
    <td>{{ votes }}</td>
  </tr>
  {% endfor %}
  {% if hasVotesCurrentCampaign == false %}
  <tr>
    <td>{{ campaign.periodName }}</td>
    <td>0</td>
  </tr>
  {% endif %}
</table>
{% endif %}
{% endblock %}
