{{ category.name }}
<br>
<br>
{{ anuncio.name }}
<br />
<br />
Agencia: {{ anuncio.agency }}
<br />
Anunciante: {{ anuncio.advertiser }}
<br />
Producto: {{ anuncio.product }}
<br />
Marca: {{ anuncio.brand }}
<br />
Otros campos: {{ anuncio.otherFields }}
<br />
Imagen: {{ anuncio.image }}
<br />
<br />
{% for resource in resources %}
	{% if resource.type == 'video' %}
		<a href="{{ resource.link }}">Ver Pieza</a>
	{% endif %}
	{% if resource.type == 'radio' %}
		<a href="{{ resource.link }}">Ver Pieza</a>
	{% endif %}
	{% if resource.type == 'imagen' %}
		<img src="{{ resource.link }}">Ver Pieza</a>
	{% endif %}
{% endfor %}
