<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Votación Anuncios.com{% endblock %}</title>
        <meta name="description" content="Votacion de anuncios.com">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
		{# stylesheets... #}
        {% block stylesheets %}
        {% stylesheets output='css/portada.min.css' filter='cssrewrite'
            'bundles/anunciosanuncio/css/bootstrap.min.css'
            'bundles/anunciosanuncio/css/base.css'
            'bundles/anunciosanuncio/css/portada.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body class="portada">
		<div class="row">
				<div class="col-sm-12">
					<img src="{{ asset('bundles/anunciosanuncio/images/portada_background.jpg') }}" class="img-responsive">
					<div id="content">
					{% block content %}
	        		{% endblock %}
	        		</div>
    			</div>
    		</div>
    	<div class="container">
			{{ render(controller('AnunciosAnuncioBundle:Frontend/Component:patrocinios', { 'request': app.request })) }}
			<div id="subcontent">
			{% block subcontent %}
	        {% endblock %}
	        </div>
        </div>
        
		{# javascripts... #}
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-48099824-1', 'anuncios.com'); 
			ga('send', 'pageview');
		</script>
        {% block javascripts %}
        {% javascripts output='js/portada.min.js'
            '@AnunciosAnuncioBundle/Resources/assets/js/vendor/jquery-1.10.1.min.js'
            '@AnunciosAnuncioBundle/Resources/assets/js/vendor/bootstrap.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>