{{ category.name }}
<br>
<br>
{{ anuncio.name }}
<br />
<br />
Agencia: {{ anuncio.agency }}
<br />
Anunciante: {{ anuncio.advertiser }}
<br />
Producto: {{ anuncio.product }}
<br />
Marca: {{ anuncio.brand }}
<br />
Otros campos:
<br />
<br />
{% for key, value in anuncio.otherFields %}
{{ key }}:{{ value }}
<br />
{% endfor %}
<br />
Imagen: 
<br />
<img src="{{ anuncio.image }}" />
<br />
<br />
{% for resource in resources %}
	<a href="{{ resource.link }}">Ver Pieza</a>
{% endfor %}
