{% macro list(juries) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'GeckoBackendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'GeckoBackendBundle:Macros:misc.html.twig' as misc %}

{% if juries|length > 0 %}
<table id="users" class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'gecko.backend.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('username', 'gecko.backend.username'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for jury in juries %}
        <tr id="{{ jury.id }}">
            <td>{{ jury.id }}</td>
            <td>{{ jury.username }}</td>
            <td>
                <div class="pull-right">
                    {{ buttons.edit(path('anuncios_anuncio_backend_jury_update', {'id': jury.id})) }}
                    {{ buttons.delete(path('anuncios_anuncio_backend_jury_delete', {'id': jury.id})) }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('gecko.backend.no_results'|trans) }}
{% endif %}

{% endmacro %}