{{ form_errors(form) }}
<div class="row">
    <div class="col-md-6 row-split">
		{{ form_row(form.name) }}
		<br />
        {{ form_row(form.isActive) }}
        <p>- Destildar esta opcion para finalizar esta campaña y comenzar con una nueva votacion</p>
        {{ form_row(form.dateBegin) }}
        <br />
        {{ form_row(form.dateEnd) }}
    </div>
    
    <div class="col-md-6">
    <p style="font-weight: bold;">Anuncios</p>
    	<div style="float: left;">
        	{{ form_row(form.month) }}
        </div>
        <div>
        	{{ form_row(form.year) }}
        </div>
    <br />
    <p>- Seleccionar mes y año para agregar los Anuncios a esta Campaña</p>
    <p>- Seleccionar solamente el año para tranformar esta Campaña como anual con los anuncios finalistas</p>
    <br />
    {{ form_row(form.showFinalist) }}
    </div>
</div>
{{ form_rest(form) }}
