{% macro list(campaigns) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'GeckoBackendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'GeckoBackendBundle:Macros:misc.html.twig' as misc %}

{% if campaigns|length > 0 %}
<table id="users" class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', 'gecko.backend.id'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'gecko.backend.name'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'gecko.backend.is_active'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'gecko.backend.date_begin'|trans) }}</th>
            <th>{{ sylius_resource_sort('name', 'gecko.backend.date_end'|trans) }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for campaign in campaigns %}
        <tr id="{{ campaign.id }}">
            <td>{{ campaign.id }}</td>
            <td>{{ campaign.name }}</td>
            {% if campaign.isActive %}
            	<td>Si</td>
            {% else %}
            	<td>No</td>
            {% endif %}
            <td>{{ campaign.dateBegin|date("d-m-Y") }}</td>
            <td>{{ campaign.dateEnd|date("d-m-Y") }}</td>
            <td>
                <div class="pull-right">
                	{% if(("now"|date("d-m-Y") < campaign.dateBegin|date("d-m-Y")) or ("now"|date("d-m-Y") > campaign.dateEnd|date("d-m-Y"))) %}
                		{{ buttons.show(path('anuncios_anuncio_backend_campaign_finalistas', {'id': campaign.id}), "Ver finalistas") }}
                	{% endif %}
                    {{ buttons.edit(path('anuncios_anuncio_backend_campaign_update', {'id': campaign.id})) }}
                    {{ buttons.delete(path('anuncios_anuncio_backend_campaign_delete', {'id': campaign.id})) }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
{{ alerts.info('gecko.backend.no_results'|trans) }}
{% endif %}

{% endmacro %}